
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@600&display=swap');


body{
  background-color: #EEF7FF;
  font-family: "Oxanium", sans-serif;
}

.App{
  display: flex;
}

.container_principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu_container {
  flex: 1;
}

.grafico_container {
  flex: 1;
  padding-top: 4rem;
  padding-right: 2rem;
}

.graficoIFR_container{
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
