body{
  background-color: snow;
}

.App{
  display: flex;
}

.container_principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu_container {
  flex: 1;
}

.grafico_container {
  flex: 1;
  padding-top: 6rem;
  padding-right: 1rem;
}

